@media (max-width:350px) {
    .kpmt {
        display: block !important;
        padding-left: 25px;
    }

    .container-btns {
        position: fixed !important;
        top: 10px !important;
        right: 10px !important;
        bottom: unset !important;
        z-index: 99 !important;
    }

    .newCat {
        position: absolute !important;
        right: 0 !important;
        bottom: 14px !important;
        left:unset !important;
        top: unset !important;
    }

    .clearButton{
        display: none !important;
    }
    .border-1px-solid {
        display: flex !important;
    }

    .details div[class='border-1px-solid']{
        display: none !important;
    }
}