@media (max-width:350px) {
    .kpmt {
        display: block !important;
        padding-left: 25px;
    }

    .container-btns {
        position: fixed !important;
        top: 10px !important;
        right: 10px !important;
        bottom: unset !important;
        z-index: 99 !important;
    }
}