#overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 9;
}

.boardHeaderContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 135px;
    margin-left: 324px;
}

.editcard {
    display: flex;
    flex-direction: column;
}

h1 {
    font-weight: 700;
    font-size: 61px;
    line-height: 120%;

    color: #000000;
}

.findAddTaskContainer {
    display: flex;
    align-items: flex-start;
}

.searchBox {
    box-sizing: border-box;

    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 13px 21px;
    gap: 10px;

    height: 51px;

    background: #FFFFFF;

    border: 1px solid #A8A8A8;
    border-radius: 10px;
}

.searchBox input {
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;

    display: flex;
    align-items: center;

    color: #D1D1D1;
    outline: none;
    border: none;
}

.searchVerticalLine {
    width: 0px;
    height: 31px;

    border: 1px solid #D1D1D1;
}

.searchBox img {
    width: 20.31px;
    height: 20.31px;
}

.addTaskBtn {
    display: flex;
    margin-left: 35px;
    box-sizing: border-box;
    padding: 18px 10px;
    gap: 10px;
    height: 55px;
    background: #2A3647;
    border: 1px solid #2A3647;
    border-radius: 10px;
    font-weight: 700;
    font-size: 21px;
    line-height: 120%;
    color: #FFFFFF;
    align-items: center;
    margin-right: 65px;
    cursor: pointer;
}


.addTaskBtn:hover {
    background-color: #29ABE2;
    border: 1px solid #29ABE2;
}

.addTaskBtn img {
    height: 15px;
    width: 15px;
}

.cardHeaders {
    display: flex;
    justify-content: space-evenly;
    margin-top: 40px;
    margin-left: 232px;
    overflow-y: scroll;
}


.dragArea {
    height: 60vh;
    padding: 10px;

    font-weight: 700;
    font-size: 21px;
    line-height: 120%;

    color: #2A3647;
}

.dragArea::-webkit-scrollbar-track {
    width: 0;
}

*::-webkit-scrollbar {
    width: 0px !important;
}

*::-webkit-scrollbar-track {
    background: #ffffff;
}

*::-webkit-scrollbar-thumb {
    background-color: #2a3647;
    border-radius: 0px;
    border: 0px none #ffffff;
}

.dragAreaTitle {
    font-weight: 700;
    font-size: 21px;
    line-height: 120%;
    color: #2A3647;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
}

.dragAreaTitle img {
    margin-left: 25px;
}

.card {
    width: 250px;
    min-height: 239px;
    background: #FFFFFF;

    box-shadow: 0px 0px 14px 3px rgba(0, 0, 0, 0.04);
    border-radius: 30px;

    padding: 18px;
    cursor: pointer;
    margin-bottom: 35px;
}


.emtyCard {
    width: 250px;
    min-height: 239px;

    box-shadow: 0px 0px 14px 3px rgba(0, 0, 0, 0.04);
    border-radius: 30px;
}


.taskStatus {
    padding: 4px 25px;
    gap: 10px;

    width: fit-content;
    height: 27px;

    border-radius: 8px;

    font-weight: 400;
    font-size: 16px;
    line-height: 120%;

    color: #FFFFFF;
}

.taskTitle {
    margin-top: 20px;
    font-weight: 700;
    font-size: 16px;
    line-height: 120%;

    color: #2A3647;
}

.taskDescription {
    margin-top: 10px;

    width: 207px;
    height: 38px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;

    color: #A8A8A8;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}


.bar {
    width: 138px;
    height: 8px;

    background: #F4F4F4;
    border-radius: 2px;
}

.taskProgressbar {
    font-weight: 400;
    font-size: 12px;
    line-height: 120%;

    color: #000000;
    display: flex;
    align-items: center;
}

.barContainer {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.taskAssignedUser {
    display: flex;
    border: 1px solid #FFFFFF;
    border-radius: 58px;
}

.taskAssignedUser div {
    margin-left: -7px;
}

.taskAssignedUser:first-child {
    margin: 7px !important;
}

.taskPrio {
    width: 32px;
    height: 32px;
    border-radius: 10px;
}

.containerUserAndPrio {
    margin-top: 33.5px;
    margin-left: 7px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.assignedUser{
    display: flex;
    margin-left: -7px;
}

.allUsers {
    display: flex;
    align-items: center;
    justify-content: center;
}

.openCard {
    padding: 50px;
    isolation: isolate;
    background: #FFFFFF;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
    border-radius: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 623px;
    max-height: 824px;
    z-index: 10;
}

.taskStatusOpen {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 4px 36.5px;
    gap: 10px;
    width: 43%;
    font-weight: 400;
    font-size: 27px;
    line-height: 120%;

    color: #FFFFFF;

    border-radius: 8px;
}

.taskTitleOpen, .taskDescriptionOpen, .taskDueDateOpen,
.taskSubtasksOpen:focus {
    outline: none;
}

.taskTitleOpen, .taskDescriptionOpen, .taskDueDateOpen,
.taskSubtasksOpen:hover {
    cursor: default;
}

.taskTitleOpen {
    margin: 15px 0px;
    font-weight: 700;
    font-size: 61px;
    line-height: 120%;
    width: 500px;

    color: #2A3647;
    background-color: none;
    border: none;
}

.taskDescriptionOpen {
    font-weight: 400;
    font-size: 21px;
    line-height: 120%;
    width: 500px;
    height: fit-content;

    color: #000000;
    background-color: none;
    border: none;
    resize: none;
}

.taskDueDateOpen {
    font-weight: 400;
    font-size: 21px;
    line-height: 120%;

    color: #000000;
    background-color: none;
    border: none;
    margin-left: 25px;
}

.taskLabelOpen {
    font-weight: 700;
    font-size: 21px;
    line-height: 120%;
    color: #000000;
    margin: 15px 0;
}

.taskPrioOpen {
    display: flex;
    align-items: center;
    gap: 35px;
}

.taskSubtasksOpen {
    background-color: none;
    border: none;
}

.taskAssignedUserOpen {
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
}

.assignedToContainer {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    gap: 17px;
}

.boardCircle{
    margin-right: -7px;
}

.closeBtnOpen {
    position: fixed;
    left: 556px;
    top: 43px;

    cursor: pointer;
}

.editDeleteBtnOpen {
    display: flex;
    position: fixed;
    bottom: 81px;
    right: 47px;
}

.editDeleteBtnOpen img {
    height: 50px;
    width: 50px;
    cursor: pointer;
}

.editSaveBtnOpenContainer {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.editSaveBtnOpen {
    background: #2A3647;
    border-radius: 10px;
    width: 93px;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 18px 15px;
    gap: 10px;
    font-weight: 700;
    font-size: 21px;
    line-height: 120%;
    color: #FFFFFF;
    cursor: pointer;
}

.editSaveBtnOpen img {
    width: 16px;
    height: 12px;
}


@media (max-width:1300px) {

    .boardContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .boardHeaderContainer {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        margin-top: 162px;
        margin-left: 33px;
    }

    .boardHeaderContainer h1 {
        font-size: 47px;
    }

    .findAddTaskContainer {
        margin-top: 30px;
    }

    .addTaskBtn {
        font-size: 0;
    }

    .addTaskBtn img {
        margin-right: 8px;
    }

    .cardHeaders {
        display: flex;
        flex-direction: column;
        align-items: stretch;
        margin: 20px 33px 0px -70px;
    }

    .overlay {
        display: none !important;
        z-index: 1 !important;
    }

    .openCard {
        box-shadow: none;
        border-radius: 0;
        min-width: 428px;
        min-height: 926px;
        z-index: 6;
        margin-top: 140px;
        background-color: #F5F5F5;
        margin-left: 81px;
    }

    .closeBtnOpen {
        content: url('../img/backIconBlack.png');
        left: 0;
        top: 0;
        margin-top: 52px;
        margin-right: 33px;
        margin-left: 385px;
    }

    .taskTitleOpen {
        font-size: 36px;
    }

    .taskDescriptionOpen {
        font-size: 16px;
    }

    .taskDueDateOpen {
        font-size: 16px;
    }

    .taskPrioOpen {
        font-size: 16px;
    }

    .taskAssignedUserOpen {
        font-size: 16px;
    }

    .taskTitleOpen, .taskDescriptionOpen, .taskDueDateOpen,
    .taskSubtasksOpen {
        background-color: #F5F5F5;
    }

    .deleteBtnOpenCard {
        content: url('../img/deleteBtnOpenCard.png');
        width: 40px !important;
        height: 40px !important;
        margin-bottom: 24px;
    }

    .editBtnOpenCard {
        content: url('../img/editBtnOpenCard.png');
    }

    .editDeleteBtnOpen {
        display: flex;
        position: fixed;
        bottom: 222px;
        right: 179px;
        flex-direction: column;
        align-items: flex-end;
        margin-right: 33px;
        margin-bottom: 33px;
    }
}