#overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 9;
}

#contactDetailsContainer {
    position: absolute;
    width: calc(100% - 232px);
    right: 0;
    height: 100%;
}

#contacts {
    display: flex;
    position: absolute;
    left: 0;
    top: 71px;
    background-color: #FFFFFF;
    bottom: 0;
    width: 453px;
    box-shadow: 4px 0px 6px rgba(0, 0, 0, 0.08);
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    overflow: scroll;
    overflow-x: hidden;
}

.contactHeadContainer {
    display: flex;
    align-items: center;
    margin-bottom: 21px;
    animation: myAnim2 0.5s cubic-bezier(0.32, 0, 0.67, 0) 0s 1 normal none;
}

.contactInformationContainer {
    display: flex;
    flex-direction: column;
    animation: myAnim2 0.5s cubic-bezier(0.32, 0, 0.67, 0) 0s 1 normal none;
}

.contactInformationTitle {
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 120%;
    display: flex;
    align-items: center;
    color: #000000;
    gap: 59px;
    width: 392.85px;
    height: 74px;
}

.contactInformationTitle div {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    display: flex;
    align-items: center;
    color: #2A3647;
    cursor: pointer;
}

.contactInformationTitle div span {
    align-self: flex-end;
}

.contactInformationContent {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 22px;
    width: 146px;
    height: 128px;
    margin-top: 25px;
}

.contactInformationContentTitles {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 120%;
    display: flex;
    align-items: center;
    color: #000000;
}

.contactInformationContentLink {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    display: flex;
    align-items: center;
    color: #007CEE;
}

.contactSelectName {
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 120%;
    display: flex;
    align-items: center;
    color: #000000;
}

.contactSelectMail {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    display: flex;
    align-items: center;
    color: #007CEE;
}

.contactSelect {
    display: flex;
    justify-content: flex-start;
    border-radius: 10px;
    width: 357px;
    height: 79px;
    padding: 15px 25px;
    gap: 35px;
    margin-top: 15px;
    cursor: pointer;
}

.contactSelect:hover>div[id="colorCircleMedium"] {
    border: none;
}

#createNewUserAtContacts,
#editUserAtContacts {
    position: fixed;
    top: 200px;
    left: 50%;
    transform: translateX(-50%);
    bottom: 200px;
    width: 1212px;
    height: 594px;
    background: #FFFFFF;
    border-radius: 30px;
    animation: myAnim 0.5s cubic-bezier(0.32, 0, 0.67, 0) 0s 1 normal none;
    z-index: 10;
}

#createNewContactName,
#createNewContactEmail,
#createNewContactPhone,
#editContactName,
#editContactEmail,
#editContactPhone {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    gap: 10px;
    border: none;
    width: 380px;
    height: 25px;
    outline: none;
}

.createNewContactNameInput,
.editContactNameInput {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 13px 21px;
    gap: 10px;
    width: 422px;
    height: 51px;
    background: #FFFFFF;
    border: 1px solid #D1D1D1;
    border-radius: 10px;
    position: relative;

}

.createNewUserAtContacts-left,
.editUserAtContacts-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 66px 46px;
    gap: 12px;
    isolation: isolate;
    width: 463px;
    height: 594px;
    background: #2A3647;
    border-bottom-left-radius: 30px;
    border-top-left-radius: 30px;
}

.addNewContactInputs,
.editContactInputs {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 29px;
    position: absolute;
    width: 422px;
    height: 271px;
    left: 737px;
    top: 129px;
}

.addNewContactProfileImgContainer,
.editContactProfileImgContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 10px;
    isolation: isolate;
    position: absolute;
    width: 120px;
    height: 120px;
    left: 533px;
    top: 204px;
    background: #FFFFFF;
    border: 3px solid #FFFFFF;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
    border-radius: 70px;
}

.addTaskAtContactsContainer {
    display: flex;
    justify-content: space-evenly;
}

.left-side-contacts {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    justify-content: center;
}

.addNewContactCreateButton {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 18px 15px;
    gap: 10px;
    width: 218px;
    height: 55px;
    cursor: pointer;
    background: #2A3647;
    border-radius: 10px;
    color: #FFFFFF;
}

.addNewContactButton {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 18px 10px;
    gap: 10px;
    position: absolute;
    height: 53px;
    right: 190px;
    bottom: 100px;
    background: #2A3647;
    border: 1px solid #2A3647;
    border-radius: 10px;
    cursor: pointer;
    color: #FFFFFF;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 21px;
    line-height: 120%;
}

.backArrow {
    cursor: pointer;
    display: none;
}

@media (max-width:1300px) {
    .backArrow{
        display: unset !important;
    }
}

@media (max-width:1000px) {
    .kpmt {
        display: none !important;
    }
    
}