#contactDetailsContainer {
    position: absolute;
    width: calc(100% - 232px);
    right: 0;
    height: 100%;
}

#contacts {
    display: flex;
    position: absolute;
    left: 0;
    top: 71px;
    background-color: #FFFFFF;
    bottom: 0;
    width: 453px;
    box-shadow: 4px 0px 6px rgba(0, 0, 0, 0.08);
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    overflow: scroll;
    overflow-x: hidden;
}

.contactHeadContainer {
    display: flex;
    align-items: center;
    margin-bottom: 21px;
    animation: myAnim2 0.5s cubic-bezier(0.32, 0, 0.67, 0) 0s 1 normal none;
}

.contactInformationContainer {
    display: flex;
    flex-direction: column;
    animation: myAnim2 0.5s cubic-bezier(0.32, 0, 0.67, 0) 0s 1 normal none;
}

.contactInformationTitle {
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 120%;
    display: flex;
    align-items: center;
    color: #000000;
    gap: 59px;
    width: 392.85px;
    height: 74px;
}

.contactInformationTitle div {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    display: flex;
    align-items: center;
    color: #2A3647;
    cursor: pointer;
}

.contactInformationTitle div span {
    align-self: flex-end;
}

.contactInformationContent {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 22px;
    width: 146px;
    height: 128px;
    margin-top: 25px;
}

.contactInformationContentTitles {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 120%;
    display: flex;
    align-items: center;
    color: #000000;
}

.contactInformationContentLink {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    display: flex;
    align-items: center;
    color: #007CEE;
}

.contactSelectName {
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 120%;
    display: flex;
    align-items: center;
    color: #000000;
}

.contactSelectMail {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    display: flex;
    align-items: center;
    color: #007CEE;
}

.contactSelect {
    display: flex;
    justify-content: flex-start;
    border-radius: 10px;
    width: 357px;
    height: 79px;
    padding: 15px 25px;
    gap: 35px;
    margin-top: 15px;
    cursor: pointer;
}

.contactSelect:hover>div[id="colorCircleMedium"] {
    border: none;
}

#createNewUserAtContacts,
#editUserAtContacts {
    position: fixed;
    top: 200px;
    left: 450px;
    right: 100px;
    bottom: 200px;
    width: 1212px;
    height: 594px;
    background: #FFFFFF;
    border-radius: 30px;
    animation: myAnim 0.5s cubic-bezier(0.32, 0, 0.67, 0) 0s 1 normal none;
}

#createNewContactName,
#createNewContactEmail,
#createNewContactPhone,
#editContactName,
#editContactEmail,
#editContactPhone {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    gap: 10px;
    border: none;
    width: 380px;
    height: 25px;
    outline: none;
}

.createNewContactNameInput,
.editContactNameInput {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 13px 21px;
    gap: 10px;
    width: 422px;
    height: 51px;
    background: #FFFFFF;
    border: 1px solid #D1D1D1;
    border-radius: 10px;
    position: relative;

}

.createNewUserAtContacts-left,
.editUserAtContacts-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 66px 46px;
    gap: 12px;
    isolation: isolate;
    width: 463px;
    height: 594px;
    background: #2A3647;
    border-bottom-left-radius: 30px;
    border-top-left-radius: 30px;
}

.addNewContactInputs,
.editContactInputs {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 29px;
    position: absolute;
    width: 422px;
    height: 271px;
    left: 737px;
    top: 129px;
}

.addNewContactProfileImgContainer,
.editContactProfileImgContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 10px;
    isolation: isolate;
    position: absolute;
    width: 120px;
    height: 120px;
    left: 533px;
    top: 204px;
    background: #FFFFFF;
    border: 3px solid #FFFFFF;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
    border-radius: 70px;
}

.addTaskAtContactsContainer {
    display: flex;
    justify-content: space-evenly;
}

.left-side-contacts {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    justify-content: center;
}

.addNewContactCreateButton {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 18px 15px;
    gap: 10px;
    width: 218px;
    height: 55px;
    cursor: pointer;
    background: #2A3647;
    border-radius: 10px;
    color: #FFFFFF;
}

.addNewContactButton {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 18px 10px;
    gap: 10px;
    position: absolute;
    width: 193px;
    height: 53px;
    right: 190px;
    bottom: 100px;
    background: #2A3647;
    border: 1px solid #2A3647;
    border-radius: 10px;
    cursor: pointer;
    color: #FFFFFF;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 21px;
    line-height: 120%;
}

@media (max-width:350px) {
    #contactDetailsContainer {
        width: unset;
        left: 0;
    }

    #contacts {
        width: unset;
        padding: 0 30px;
        padding-top: 70px;
        right: 0;
    }

    .contactListFillerDiv {
        width: unset !important;
        align-self: center !important;
        width: 80% !important;
    }

    .addNewContactButton {
        right: 20px;
        top: 100px;
    }

    .contactSegment {
        width: unset;
        padding-left: 20px;
        padding-right: 20px;
    }

    .contactSelect {
        width: 100%;
    }

    .letter {
        padding-left: 20px;
        padding-right: 20px;
    }

    #contactDetails {
        width: 100% !important;
        background-color: #F5F5F5;
        padding-left: 36px !important;
    }

    .contactsTitleContainer {
        flex-direction: column;
        align-items: flex-start;
    }

    .fillerDiv {
        width: 59px !important;
        height: 0 !important;
        margin: 0 !important;
        align-self: unset !important;
    }

    h4 {
        align-self: unset !important;
    }

    .colorCircle-big {
        margin-right: 20px !important;
        width: 80px !important;
        height: 80px !important;
        font-size: 27px !important;
    }

    #contactName {
        font-size: 26px !important;
        font-weight: 400 !important;
    }

    .showEditContainer span {
        display: none !important;
    }

    .showEditContainer {
        position: absolute;
        right: 22px;
        bottom: 100px;
    }

    .showEditImg {
        background-color: #2A3647 !important;
        background-image: url('../img/editPenInvert.png') !important;
        width: 50px !important;
        height: 50px !important;
        border-radius: 10px !important;
        background-size: 20px 30px !important;
    }

    #createNewUserAtContacts,
    #editUserAtContacts {
        position: absolute;
        top: 90px;
        left: 0;
        right: 0;
        bottom: 90px;
        display: flex;
        flex-direction: column !important;
        height: unset;
        width: 100%;
        align-items: center;
        z-index: 99 !important;
    }

    .createNewUserAtContacts-left,
    .editUserAtContacts-left {
        width: 340px;
        height: 351px;
        border-bottom-left-radius: unset;
        border-top-right-radius: 30px;
        padding: 66px 33px;
    }

    .addNewContactProfileImgContainer,
    .editContactProfileImgContainer {
        left: 100px;
        top: 290px;
        border: none;
    }

    .left-side-Contacts img {
        display: none;
    }

    .addNewContactTitle {
        font-weight: 700 !important;
        font-size: 47px !important;
    }

    .addNewContactInputs,
    .editContactInputs {
        left: 23px;
        right: 23px;
        top: 420px
    }

    .createNewContactNameInput,
    .editContactNameInput {
        width: 308px;
        height: 41px;
    }

    .deleteButton {
        width: 85px !important;
        height: 51px !important;
    }

    .editContactButton {
        width: 71px !important;
        height: 51px !important;
    }

    .editButtonContainer {
        margin-left: 65px;
        justify-content:  flex-start !important;
    }

    .closeIconAtContacts {
        background-image: url('../img/closeIconWhite.png') !important;
        
        top: 120px !important;
        right: 50px;
        left: unset !important;
        z-index: 99;
        background-position: center; 
        background-repeat: no-repeat; 
        background-size: cover;
        width: 30px !important;
        height: 30px !important;
    }
    

}