@media (max-width:1370px) {
    .summaryContactName {
        margin-top: 50px;
    }
}

@media (max-width:1300px) {

    #addTaskAtBoard,
    #addTaskAtContacts {
        position: relative !important;
        transform: unset !important;
        left: 0 !important;
    }

    #contactDetailsContainer {
        width: unset;
        left: 0;
    }

    .addNewContactCancelButton {
        display: none !important;
    }

    .editUserAtContacts-right form,
    .createNewUserAtContacts-right form {
        display: flex;
        align-items: center;
        flex-direction: column;
        margin-top: -71px;
    }

    #contacts {
        width: unset;
        padding: 0 30px;
        padding-top: 70px;
        right: 0;
    }

    .contactListFillerDiv {
        width: unset !important;
        align-self: center !important;
        width: 80% !important;
    }

    .addNewContactButton {
        right: 20px;
        top: 100px;
    }

    .contactSegment {
        width: unset;
        padding-left: 20px;
        padding-right: 20px;
    }

    .contactSelect {
        width: 100%;
    }

    .letter {
        padding-left: 20px;
        padding-right: 20px;
    }

    #contactDetails {
        width: 100% !important;
        background-color: #F5F5F5;
        padding-left: 36px !important;
    }

    .contactsTitleContainer {
        flex-direction: column;
        align-items: flex-start;
    }

    .fillerDiv {
        width: 59px !important;
        height: 0 !important;
        margin: 0 !important;
        align-self: unset !important;
    }

    h4 {
        align-self: unset !important;
    }

    .colorCircle-big {
        margin-right: 20px !important;
        width: 80px !important;
        height: 80px !important;
        font-size: 27px !important;
    }

    #contactName {
        font-size: 26px !important;
        font-weight: 400 !important;
    }

    .showEditContainer span {
        display: none !important;
    }

    .showEditContainer {
        position: absolute;
        right: 22px;
        bottom: 100px;
    }

    .showEditImg {
        background-color: #2A3647 !important;
        background-image: url('../img/editPenInvert.png') !important;
        width: 50px !important;
        height: 50px !important;
        border-radius: 10px !important;
        background-size: 20px 30px !important;
    }

    #createNewUserAtContacts,
    #editUserAtContacts {
        position: absolute;
        transform: unset !important;
        top: 90px;
        left: 0;
        right: 0;
        bottom: 90px;
        display: flex;
        flex-direction: column !important;
        height: unset;
        width: 100%;
        align-items: center;
        z-index: 99 !important;
        background: rgba(245, 245, 245, 0.8);
    }

    .createNewUserAtContacts-left,
    .editUserAtContacts-left {
        width: 340px;
        height: 351px;
        border-bottom-left-radius: unset;
        border-top-right-radius: 30px;
        padding: 66px 33px;
    }

    .addNewContactProfileImgContainer,
    .editContactProfileImgContainer {
        left: unset;
        top: unset;
        border: none;
        position: unset;
    }

    .profileDummyInside,
    .profileDummy {
        left: unset !important;
        top: unset !important;
    }


    .left-side-Contacts img {
        display: none;
    }

    .addNewContactTitle {
        font-weight: 700 !important;
        font-size: 47px !important;
    }

    .addNewContactInputs,
    .editContactInputs {
        margin-top: 15px;
        align-items: center;
    }

    .createNewContactNameInput,
    .editContactNameInput {
        width: 308px;
        height: 41px;
    }

    .deleteButton {
        width: 85px !important;
        height: 51px !important;
    }

    .editContactButton {
        width: 71px !important;
        height: 51px !important;
    }

    .editButtonContainer {
        margin-left: unset !important;
        justify-content: center !important;
        width: unset;
    }


    #addTaskAtBoard,
    #addTaskAtContacts {
        position: absolute !important;
        left: 0;
        right: 0;
        bottom: 0;
        width: unset !important;
        height: unset !important;
        top: 90px !important;
        background-color: #F5F5F5 !important;
        border-radius: 0 !important;
    }

    .details {
        flex-direction: column !important;
        margin-top: 0 !important;
    }

    h2 {
        font-weight: 700;
        font-size: 47px !important;
        text-align: unset !important;
        margin-top: 15px !important;
    }

    .inputTextStd,
    .dropDownMenuField {
        width: 300px !important;
        min-height: 41px !important;
        height: 41px !important;
    }

    .inputDescriptionField {
        width: 300px !important;
        height: 93px !important;
    }

    .border-1px-solid,
    .clearButton {
        display: none !important;
    }

    #id_urgent,
    #id_medium,
    #id_low {
        width: 90px !important;
        height: 41px !important;
    }

    .detail {
        font-weight: 400;
        font-size: 16px !important;
    }

    .detail div {
        gap: 5px;
    }

    .selectImg {
        position: absolute;
        left: unset !important;
        top: 16px !important;
        right: 10px !important;
    }

    .dropDownStart {
        padding: 11px 19px !important;
    }

    .subTaskStart {
        padding: 9px 21px !important;
    }

    .container-btns {
        position: absolute !important;
        top: -167px !important;
        right: -10px !important;
        bottom: unset !important;

    }

    .backArrow {
        position: absolute;
        top: 98px;
        right: 10px;
    }

    #addTask {
        overflow: scroll !important;
        overflow-x: hidden !important;
        left: 0 !important;
        bottom: 80px !important;
        width: unset !important;
        padding-left: unset !important;
        padding: 0 23px !important;
        position: absolute !important;
    }


    .createNewUserAtContactsContainer,
    .editUserAtContactsContainer {

        flex-direction: column !important;
        justify-content: center !important;
        align-items: center !important;
    }

    .addNewContactInputs,
    .editContactInputs {
        left: unset !important;
        right: unset !important;
        top: unset !important;
        position: unset !important;
    }

    .closeIconAtContacts {
        right: 50px !important;
        top: 20px !important;
        left: unset !important;
        z-index: 99;
        background-position: center;
        background-repeat: no-repeat !important;
        background-size: cover;
        width: 30px !important;
        height: 30px !important;
    }

    /* ===== Scrollbar CSS ===== */
    /* Firefox */
    * {
        scrollbar-width: none;
        scrollbar-color: #091931 #2a3647;
    }

    /* Chrome, Edge, and Safari */
    *::-webkit-scrollbar {
        width: 0px !important;
    }

    *::-webkit-scrollbar-track {
        background: #ffffff;
    }

    *::-webkit-scrollbar-thumb {
        background-color: #2a3647;
        border-radius: 0px;
        border: 0px none #ffffff;
    }

    .deleteButtonContent {
        display: flex !important;
        position: absolute;
        right: 33px;
        bottom: 160px;
        background-image: url('../img/trashIcon.png');
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        width: 30px;
        height: 30px;
        justify-content: center;
        align-items: center;
        padding: 8px 18px;
        gap: 10px;
        border: 1px solid #2A3647;
        border-radius: 8px;
        cursor: pointer;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 21px;
        line-height: 120%;
        color: #2A3647;
    }

    .summaryGreeting {
        display: none;
    }

    .summaryContactName {
        display: none;
    }
}

@media (max-width:600px) {

    #createNewUserAtContacts,
    #editUserAtContacts {
        background: rgba(245, 245, 245, 1) !important;
    }

    .closeIconAtContacts {
        right: 5px !important;
        top: 20px !important;
        left: unset !important;
        z-index: 99;
        background-position: center;
        background-repeat: no-repeat !important;
        background-size: cover;
        width: 30px !important;
        height: 30px !important;
    }

}


@media (max-width:350px) {

    .closeIconAtContacts {
        background-image: url('../img/closeIconWhite.png') !important;
        right: 50px !important;
        top: 20px !important;
        left: unset !important;
        z-index: 99;
        background-position: center;
        background-repeat: no-repeat !important;
        background-size: cover;
        width: 30px !important;
        height: 30px !important;
    }

}