#resetPasswordFrame {
    width: 826px;
    height: 537px;
}

.formResetPassword{
    display: flex;
    flex-direction: column;
    align-items: center;
} 

.frameStyle{
    gap: 0 !important;
}

.headerLine{
    margin-top: 24px !important;
}

.btnContinue {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 4px 0px;
    gap: 10px;

    margin-top: 25px;


    width: 264px;
    height: 51px;

    background: #2A3647;
    border-radius: 8px;
    border: 1px solid;


    font-weight: 700;
    font-size: 21px;
    line-height: 120%;
    
    color: #FFFFFF;
    cursor: pointer;
}

.btnContinue:hover {
    background-color: #29ABE2;
    border-color: #29ABE2;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

@media (max-width:1300px) {
    #resetPasswordFrame {
        width: 318px;
    }

    .inputField {
        width: 290px;
        height: 41px;
    }

    .inputField input{
        font-size: 14px !important;
    }

    .btnContinue {
        width: 200px;
        font-size: 16px;
    }
}

@media (max-height:800px) {
    #resetPasswordFrame {
        height: 65%;
    }

    .headerForgotMyPassword {
        font-size: 36px;
    }

    .btnContinue {
        margin-top: 20px;
    }
    
    
}