* {
    margin: 0;
    padding: 0;
}

.leftRightContainers {
    display: flex;
    align-items: center;
}

.summaryPageContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 135px;
    margin-left: 355px;
}

.summaryHeader {
    display: flex;
    justify-content: center;
    align-items: center;
}

.summaryHeader h1 {
    font-weight: 700;
    font-size: 61px;
    line-height: 120%;

    color: #000000;
}

.verticalLine {
    width: 0px;
    height: 59px;

    border: 3px solid #29ABE2;
    margin-left: 40px;
    margin-right: 30px;
}

.summaryHeader span {
    font-weight: 400;
    font-size: 27px;
    line-height: 120%;
    width: 305px;
    color: #2A3647;
}

.summeryBoxContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 0px;
    max-width: 580px;
    max-height: 500px;
    margin-top: 56px;
    margin-left: -65px;
}

.summaryTop {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.summaryTopSingle {
    width: 170px;
    height: 170px;
    margin-left: 35px;
    background: #FFFFFF;

    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
    border-radius: 30px;

    padding: 25px 0px;
    gap: 13px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.boxNumber {
    width: 41px;
    height: 77px;

    font-weight: 600;
    font-size: 64px;
    line-height: 120%;

    color: #000000;

    text-align: center;
}

.boxText {
    width: 87px;
    height: 50px;

    font-weight: 400;
    font-size: 21px;
    line-height: 120%;

    text-align: center;

    color: #2A3647;
}

.summaryTopSingle:hover {
    width: 180px;
    height: 180px;
    cursor: pointer;
    background-color: #2A3647;

    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.summaryTopSingle:hover>.boxNumber {
    color: #FFFFFF;
}

.summaryTopSingle:hover>.boxText {
    color: #FFFFFF;
}


.summaryCenter {
    display: flex;
    align-items: center;
    margin: 35px 0px;
    padding: 28px 48px;
    gap: 61px;
    width: 580px;
    height: 150px;

    background: #FFFFFF;

    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
    border-radius: 30px;
    cursor: pointer;
}

.summaryPrioContainer {
    display: flex;
    align-items: center;
}

.prioContainer {
    display: flex;
    flex-direction: column;
}

.prioImg {
    width: 60px !important;
    height: 60px !important;
    margin-right: 18px;
}

.prioNumber {
    font-weight: 600;
    font-size: 47px;
    line-height: 120%;

    text-align: center;

    color: #000000;
}

.prioText {
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;

    color: #2A3647;
}

.prioVerticalLine {
    width: 0px;
    height: 102.02px;

    border: 2px solid #D1D1D1;
}

.upcomingDate {
    font-weight: 700;
    font-size: 21px;
    line-height: 120%;

    color: #2A3647;
}

.upcomingDateText {
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;

    color: #2A3647;
}

.summaryCenter:hover {
    width: 590px;
    height: 160px;

    background: #2A3647;

    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.summaryCenter:hover>.summaryPrioContainer>.prioContainer>.prioNumber {
    color: #FFFFFF;
}

.summaryCenter:hover>.summaryPrioContainer>.prioContainer>.prioText {
    color: #FFFFFF;
}

.summaryCenter:hover>.upcomingDateContainer>.upcomingDate {
    color: #FFFFFF;
}

.summaryCenter:hover>.upcomingDateContainer>.upcomingDateText {
    color: #FFFFFF;
}

.summaryBottom {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 35px;

    width: 580px;
    height: 150px;
}

.summaryBottomSingle {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 38px 19px;
    gap: 18px;

    width: 272.5px;
    height: 150px;

    background: #FFFFFF;

    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
    border-radius: 30px;
    cursor: pointer;
}

.todoPencilImg img {
    width: 69px;
    height: 69px;
}

.todoDoneImg img {
    width: 69px;
    height: 69px;
}

.todoNumber {
    font-weight: 600;
    font-size: 64px;
    line-height: 120%;

    text-align: center;

    color: #000000;
}

.todoText {
    font-weight: 400;
    font-size: 21px;
    line-height: 120%;

    color: #2A3647;
}

.summaryBottomSingle:hover {
    width: 282.5px;
    height: 160px;

    background: #2A3647;

    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.summaryBottomSingle:hover>.todoContainer>.todoNumber {
    color: #FFFFFF;
}

.summaryBottomSingle:hover>.todoContainer>.todoText {
    color: #FFFFFF;
}

.summaryBottomSingle:hover>.todoPencilImg {
    content: url("../img/todoPencilWhite.png");
}

.summaryBottomSingle:hover>.todoDoneImg {
    content: url("../img/todoDoneWhite.png");
}

.summaryWelcomeText {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 3px;
    margin-left: 32px;
    margin-top: 323px;
    margin-right: 10px;
}

.summaryGreeting {
    font-weight: 500;
    font-size: 47px;
    line-height: 120%;

    color: #2A3647;
}

.summaryContactName {
    font-weight: 700;
    font-size: 64px;
    line-height: 120%;

    color: #29ABE2;
}

.summaryWelcomeTextMobile {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 15;
}

/* **************** RESPONSIVE DESIGN **************** */

@media (max-width: 1500px) {
    .kpmt {
        padding-left: 25px;
        top: 120px !important;
    }
}

@media (max-width: 1410px) {
    .summaryWelcomeText {
        margin-left: -50px;
    }
}

@media (max-width:1300px) {

    .kpmt {
        position: absolute;
        left: 0;
        display: block !important;
    }

    .logoutButton {
        z-index: 9;
    }

    .summaryWelcomeText {
        display: none;
    }

    .leftRightContainers {
        justify-content: center;
        margin-top: 124px;
    }

    .summaryPageContainer {
        margin-left: 0;
        align-items: flex-start;
        margin-top: 0;
    }

    .summaryHeader {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-left: 33px;
        margin-top: 10px;
    }

    .summaryHeader h1 {
        font-weight: 700;
        font-size: 47px;
        line-height: 120%;
        margin-top: 19px;
    }

    .summaryHeader span {
        font-weight: 400;
        font-size: 21px;
        line-height: 120%;
        margin-top: 20px;
    }

    .verticalLine {
        border: 3px solid #29ABE2;
        transform: rotate(90deg);
        height: 90px;
        margin-left: 40px;
        position: absolute;
        top: 220px;
        margin-top: 32px;
    }

    .summeryBoxContainer {
        max-width: 363px;
        max-height: 378px;
        margin: 100px 32px 0px 32px;
    }

    .summaryTopSingle {
        width: 110px;
        height: 110px;
        margin-left: 15px !important;
    }

    .summaryTopSingle:hover {
        width: 110px;
        height: 110px;
    }

    .boxNumber {
        font-weight: 600;
        font-size: 47px;
        line-height: 120%;
    }

    .boxText {
        font-weight: 400;
        font-size: 14px;
        line-height: 120%;
    }

    .summaryCenter {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 28px 0px;
        gap: 20px;

        width: 360px;
        height: 110px;
    }

    .prioContainer {
        margin-right: -18px;
    }

    .prioImg {
        width: 40px;
        height: 40px;
    }

    .prioNumber {
        font-weight: 600;
        font-size: 47px;
        line-height: 120%;
    }

    .prioText {
        font-weight: 400;
        font-size: 14px;
        line-height: 120%;
    }

    .prioVerticalLine {
        height: 68px;
        margin-left: 18px;
    }

    .upcomingDate {
        font-weight: 700;
        font-size: 16px;
        line-height: 120%;
    }

    .upcomingDateText {
        font-weight: 400;
        font-size: 14px;
        line-height: 120%;
    }

    .summaryCenter:hover {
        width: 360px;
        height: 110px;
    }

    .summaryBottom {
        width: 363px;
        height: 110px;
    }

    .summaryBottomSingle {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 38px 19px;
        gap: 10px;

        width: 177.5px;
        height: 110px;
    }

    .todoPencilImg {
        width: 40px !important;
        height: 40px !important;
    }

    .todoDoneImg {
        width: 40px !important;
        height: 40px !important;
    }

    .todoNumber {
        font-weight: 600;
        font-size: 47px;
        line-height: 120%;
    }

    .todoText {
        font-weight: 400;
        font-size: 14px;
        line-height: 120%;
    }

    .summaryBottomSingle:hover {
        width: 177.5px;
        height: 110px;
    }

    .navHeaderSummary {
        display: flex;
    }
}

@media (max-width: 850px) {
    .summaryGreeting {
        font-size: 37px;
    }

    .summaryContactName {
        font-size: 55px;
    }
}

@media (max-width:500px) {
    .summaryGreeting {
        font-size: 20px;
    }

    .summaryContactName {
        font-size: 27px;
    }

    .summaryHeader {
        margin-left: 60px;
    }

    .summaryHeader h1 {
        font-size: 40px;
    }

    .summaryHeader span {
        font-size: 18px;
    }

    .verticalLine {
        top: 180px;
    }

    .summaryTopSingle {
        width: 90px;
        height: 90px;
        gap: 3px;
    }

    .summaryTopSingle:hover {
        width: 100px;
        height: 100px;
    }

    .boxNumber {
        font-size: 30px;
    }

    .boxText {
        font-size: 13px;
    }

    .summaryTop {
        margin-right: 30px;
    }

    .summaryCenter {
        gap: 10px;
        width: 300px;
        margin-right: 30px;
        height: 90px;
    }

    .summaryCenter:hover {
        width: 310px;
        height: 100px;
    }

    .prioImg {
        width: 40px !important;
        height: 40px !important;
    }

    .prioNumber {
        font-size: 30px;
    }

    .prioText {
        font-size: 13px;
    }

    .upcomingDate {
        font-size: 13px;
    }

    .upcomingDateText {
        font-size: 13px;
    }

    .prioVerticalLine {
        height: 58px;
    }

    .summaryBottom {
        gap: 0;
        width: 335px;
        height: 90px;
        margin-right: 30px;
    }

    .summaryBottomSingle {
        width: 137.5px;
        height: 90px;
        margin-left: 35px;
    }

    .summaryBottomSingle:hover {
        width: 147.5px;
        height: 100px;
    }

    .todoPencilImg {
        width: 35px !important;
        height: 35px !important;
    }

    .todoNumber {
        font-size: 30px;
    }

    .todoText {
        font-size: 13px;
    }

    .todoDoneImg {
        width: 35px !important;
        height: 35px !important;
    }
}