* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #F5F5F5;
}

.content {
    text-align: center;
}

table {
    width: 100%;
}

nav {
    background-color: #2A3647;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 66px 20px;
    gap: 103px;
    justify-content: space-between;
    position: absolute;
    width: 232px;
    height: 1024px;
    left: 0px;
    top: 0px;
}

.nav-link {
    display: flex;
flex-direction: row;
align-items: flex-start;
padding: 8px 53px;
gap: 20px;

width: 232px;
height: 46px;
}

.logo-nav {
    width: 100.03px;
    height: 121.97px;
}

.legal-notice {
    width: 18px;
    height: 18px;
}

a {
    color: #FFFFFF;
    text-decoration: none;
}

.nav-links {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.nav-link img {

}
.d-none{
    display: none;
}
.d-flex {
    display: flex;
}

.flex-column {
    flex-direction: column;
}