* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #F5F5F5;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.inputTextStd {
    gap: 10px;
    width: 422px;
    height: 51px;
    background: #FFFFFF;
    border: 1px solid #D1D1D1;
    border-radius: 10px;
    padding: 18px 21px;

    outline: none;

}

#contacts {
    display: flex;
    position: absolute;
    left: 233px;
    top: 71px;
    background-color: #FFFFFF;
    bottom: 0;
    width: 453px;
    box-shadow: 4px 0px 6px rgba(0, 0, 0, 0.08);
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    overflow: scroll;
    overflow-x: hidden;
}

.fillerDiv {
    width: 0px;
    height: 59px;
    border: 3px solid #29ABE2;
    margin: 0 50px;
    align-self: center;
}

h4 {
    font-style: normal;
    font-weight: 400;
    font-size: 27px;
    line-height: 120%;
    align-self: center;
    color: #2A3647;
}

#contactName {
    font-style: normal;
    font-weight: 500;
    font-size: 47px;
    line-height: 120%;
}

.contactHeadContainer {
    display: flex;
    align-items: center;
    margin-left: 100px;
    margin-top: 50px;
}

.contactInformationContainer {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    margin-left: 100px;
}

.contactInformationTitle {
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 120%;
    display: flex;
    align-items: center;
    color: #000000;
    gap: 59px;
    width: 392.85px;
    height: 74px;
}

.contactInformationTitle div {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    display: flex;
    align-items: center;
    color: #2A3647;
}

.contactInformationTitle div span {
    align-self: flex-end;
}

.contactInformationTitle div img {

    object-fit: contain;
}

.contactInformationContent {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 22px;
    width: 146px;
    height: 128px;
    margin-top: 25px;
}

.colorCircleMedium {
    width: 42px;
    height: 42px;
    background: #9327FF;
    border: 1px solid #FFFFFF;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
}

.contactInformationContentTitles {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 120%;
    display: flex;
    align-items: center;
    color: #000000;
}

.contactInformationContentLink {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    display: flex;
    align-items: center;
    color: #007CEE;
}

.contactSelectName {
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 120%;
    display: flex;
    align-items: center;
    color: #000000;
}

.contactSelectMail {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    display: flex;
    align-items: center;
    color: #007CEE;
}

.contactSelect {
    display: flex;
    justify-content: flex-start;
    border-radius: 10px;
    width: 357px;
    height: 79px;
    padding: 15px 25px;
    gap: 35px;
    margin-top: 15px;
}

#createNewUserAtContacts {
    position: fixed;
    top: 200px;
    left: 450px;
    right: 100px;
    bottom: 200px;
    width: 1212px;
    height: 594px;
    background: #FFFFFF;
    border-radius: 30px;
}

.createNewUserAtContacts-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 66px 46px;
    gap: 12px;
    isolation: isolate;
    width: 463px;
    height: 594px;
    background: #2A3647;
}

.createNewUserAtContactsContainer{
    display: flex;
}

.addNewContactButton {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 18px 10px;
    gap: 10px;
    position: absolute;
    width: 193px;
    height: 53px;
    right: 190px;
    bottom: 100px;
    background: #2A3647;
    border: 1px solid #2A3647;
    border-radius: 10px;
}

.contactInformationContentContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 15px;
    width: 124px;
    height: 53px;
}

.add-task-link {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    color: #29ABE2;
}

.addTaskContacts {
    object-fit: contain;
    width: 15px;
    height: 15px;
}

.contactHead {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.contactsTitle {
    font-style: normal;
    font-weight: 700;
    font-size: 61px;
    line-height: 120%;
}

#contactDetails {
    position: absolute;
    right: 0;
    top: 89px;
    bottom: 0;
    left: 687px;
}

.letter {
    margin-bottom: 10px;
    padding-bottom: 20px;
    width: 282px;
    height: 40px;
}

.contactListFillerDiv {
    width: 323px;
    height: 0px;
    border: 1px solid #D1D1D1;
    border-radius: 3px;
    align-self: center;
}

.inputTextStd::-webkit-calendar-picker-indicator {
    background: url('img/calendarIcon.png') no-repeat;
    opacity: 1;
    object-fit: contain;
    width: 23px;
    height: 23px;
}

.inputDescriptionField {
    gap: 10px;
    isolation: isolate;
    width: 422px;
    height: 119px;
    background: #FFFFFF;
    border: 1px solid #D1D1D1;
    border-radius: 10px;
    resize: vertical;
    padding: 18px 21px;

    outline: none;
}

li {
    list-style: none;
}

.inputAddIcon {
    position: absolute;
    right: 0;
    object-fit: cover;
    width: 24px;
    height: 24px;
}

.p-relative {
    position: relative;
}

.dropDownMenuField {
    gap: 10px;
    isolation: isolate;
    width: 422px;
    min-height: 51px;
    background: #FFFFFF;
    border: 1px solid #D1D1D1;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    z-index: 9;
    border: 1px solid #D1D1D1;
    border-radius: 10px;
}


.dropDownStart {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 18px 21px;
    border-radius: 10px;

}

.navigation-left {
    background-color: #2A3647;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    position: absolute;
    width: 232px;
    height: 100%;
    left: 0px;
    top: 0px;
    z-index: 9;
}

.prioImg {
    width: 20px;
    height: 14.51px;
    object-fit: cover;
}

.navigation-left-link {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    width: 150px;
    height: 46px;
    cursor: pointer;
}

.navigation-left-link img {
    width: 23px;
    height: 23px;
    object-fit: contain;
}

.logo-nav {
    width: 100.03px;
    height: 121.97px;
}

.legal-notice {
    width: 18px;
    height: 18px;
}

a {
    color: #FFFFFF;
    text-decoration: none;
}

.gap-10px {
    gap: 10px;
}

.align-c {
    align-items: center;
}

.navigation-left-links {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.d-none {
    display: none !important;
}

.d-flex {
    display: flex;
}

.flex-column {
    flex-direction: column;
}



.detail div label {
    gap: 10px;
    width: 136px;
    height: 51px;
    background-color: #FFFFFF;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;

}

.detail div label:hover {
    width: 141px;
    height: 61px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.detail div {
    gap: 10px;

}

.navigation-top {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background-color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 34px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
    z-index: 7;
    height: 89px;
    padding-left: 340px;
    padding-right: 20px;
}

.navigation-top a {
    font-size: 21px;
}

h2 {
    font-size: 61px;
    margin-left: 100px;
}

label {
    margin: 5px 0;
}

option {
    background-color: #FFFFFF;
    font-size: 21px;
}

select option:hover {
    background: #D1D1D1 !important;
}

.navigation-top a {
    color: black;
}

.details {
    display: flex;
    margin-top: 20px;
    justify-content: space-around;

}

.border-1px-solid {
    border: 1px solid #D1D1D1;
}

.cl_categories {
    background-color: #FFFFFF;
    width: 100%;
    height: 51px;
    display: flex;
    align-items: center;
    padding: 18px 21px;

}

.cl_categories:last-of-type {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.cl_categories:hover {
    background: #D1D1D1 !important;

}

.width0-height31px {
    width: 0;
    height: 31px;
}

.newCat {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 9px;

    position: relative;
    width: 66px;
    height: 31px;
    left: 341px;
    top: -41px;
}

.newCat a img,
.newCat a {
    width: 24px;
    height: 24px;
    object-fit: contain;
}

.detail {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 10px 5px;
    font-size: 21px;
}

.detailBox-left {
    display: flex;
    flex-direction: column;
}

.detailBox-right {
    display: flex;
    flex-direction: column;
}

.colorCircle {
    width: 20px;
    height: 20px;
    border-radius: 100%;
    border: 2px solid #FFFFFF;
}

.colorCircle:hover {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.colorCircleisActive {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.colorCircle-big {
    width: 120px;
    height: 120px;
    border-radius: 100%;
    border: 2px solid #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    font-style: normal;
    font-weight: 500;
    font-size: 47px;
    line-height: 120%;
    color: #FFFFFF;
    margin-right: 30px;
}

.input[type=color] {
    border: 0;
    text-decoration: none;
    appearance: none;
}

#addTask {
    display: flex;
    margin-top: 125px;
    flex-direction: column;
    align-items: flex-start;
    position: absolute;
    right: 0;
    width: calc(100% - 232px);

}

.clearButton {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 18px 10px;
    gap: 10px;
    width: 136px;
    height: 61px;
    border: 1px solid #2A3647;
    border-radius: 10px;
    margin-right: 5px;
    color: #2A3647;
    font-size: 21px;
    line-height: 120%;
}

.createTaskBtnContainer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 18px 10px;
    gap: 10px;
    width: 177px;
    height: 61px;

    background: #2A3647;
    border-radius: 10px;
    margin-left: 5px;

}

.container-btns {
    justify-content: flex-end;
    margin-top: 25px;
    width: calc(100% - 130px);
}

.addTaskForm {
    width: 100%;
}

.createTaskBtn {
    font-size: 21px;
    line-height: 120%;
    background-color: #2A3647;
    color: #FFFFFF;

    border-radius: 10px;
    border: none;

}

.createTaskBtnContainer img {
    width: 24px;
    height: 24px;
    object-fit: contain;
}

.border-bottom-1px {
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

.contactSegment {
    list-style: upper-alpha;
    width: 360px;
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contactSegment div {
    display: flex;
    align-items: center;

}

.contactSelect:hover {
    background: linear-gradient(180deg, #F9F9F9 0%, #F0F0F0 100%);
}

.contactsAttributeBox {
    display: flex;
    flex-direction: column;
}

.contacts {
    display: flex;
    position: absolute;
    left: 233px;
    top: 65px;
    background-color: #FFFFFF;
    bottom: 0;
    width: 453px;
    box-shadow: 4px 0px 6px rgba(0, 0, 0, 0.08);
}