* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #F5F5F5;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.inputTextStd {
    gap: 10px;
    width: 422px;
    height: 51px;
    background: #FFFFFF;
    border: 1px solid #D1D1D1;
    border-radius: 10px;
    
}
.inputTextStd::-webkit-calendar-picker-indicator {
      background: url('img/calendarIcon.png') no-repeat;  
      opacity: 1;
      object-fit: contain;
      width: 23px;
      height: 23px;
}

.inputDescriptionField {
    gap: 10px;
    isolation: isolate;
    width: 422px;
    height: 119px;
    background: #FFFFFF;
    border: 1px solid #D1D1D1;
    border-radius: 10px;
}

.dropDownMenuField {
    gap: 10px;
    isolation: isolate;
    width: 422px;
    height: 51px;
    background: #FFFFFF;
    border: 1px solid #D1D1D1;
    border-radius: 10px;
}

.navigation-left {
    background-color: #2A3647;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    position: absolute;
    width: 232px;
    height: 100%;
    left: 0px;
    top: 0px;
    z-index: 9;
}

.navigation-left-link {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    width: 150px;
    height: 46px;
    cursor: pointer;
}

.navigation-left-link img {
    width: 23px;
    height: 23px;
    object-fit: contain;
}

.logo-nav {
    width: 100.03px;
    height: 121.97px;
}

.legal-notice {
    width: 18px;
    height: 18px;
}

a {
    color: #FFFFFF;
    text-decoration: none;
}

.navigation-left-links {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.d-none {
    display: none !important;
}

.d-flex {
    display: flex;
}

.flex-column {
    flex-direction: column;
}

.detail div label {
    gap: 10px;
    width: 136px;
    height: 51px;
    background: #FFFFFF;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.detail div {
    gap: 10px;

}

.navigation-top {
    height: 50px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background-color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 36px 20px 348px;
    gap: 34px;
}

h2 {
    font-size: 61px;
    margin-left: 100px;
}

label {
    margin: 15px 0;
}

.navigation-top a {
    color: black;
}

.details {
    display: flex;
    margin-top: 20px;
    justify-content: space-between;
    margin-left: 100px;
    margin-right: 100px;
}

.border-1px-solid {
    border: 1px solid #D1D1D1;
}

.detail {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 10px 5px;
    font-size: 21px;
}

.detailBox-left {
    display: flex;
    flex-direction: column;
    margin-right: inherit;
}
.detailBox-right {
    display: flex;
    flex-direction: column;
    margin-left: inherit;
}


#addTask {
    display: flex;
    margin-top: 100px;
    flex-direction: column;
    align-items: flex-start;
    position: absolute;
    right: 0;
    width: calc(100% - 232px);

}

