* {
    margin: 0;
    padding: 0;
}


.summaryHeader {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    position: absolute;
    width: 679px;
    height: 73px;
    left: 355px;
    top: 171px;
}

.summaryHeader h1 {
    width: 315px;
    height: 73px;

    font-weight: 700;
    font-size: 61px;
    line-height: 120%;

    color: #000000;
}

.verticalLine {
    width: 0px;
    height: 59px;

    border: 3px solid #29ABE2;

    margin-right: 30px;
}

.summaryHeader span {
    width: auto;
    height: 32px;

    font-weight: 400;
    font-size: 27px;
    line-height: 120%;

    color: #2A3647;
}

.summeryBoxContainer {
    position: absolute;
    width: 580px;
    height: 540px;
    left: 355px;
    top: 331px;
}

.summaryTop {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.summaryTopSingle {
    width: 170px;
    height: 170px;

    background: #FFFFFF;

    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
    border-radius: 30px;

    padding: 25px 0px;
    gap: 13px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.boxNumber {
    width: 41px;
    height: 77px;

    font-weight: 600;
    font-size: 64px;
    line-height: 120%;

    color: #000000;

    text-align: center;
}

.boxText {
    width: 87px;
    height: 50px;

    font-weight: 400;
    font-size: 21px;
    line-height: 120%;

    text-align: center;

    color: #2A3647;
}

.summaryTopSingle:hover {
    width: 180px;
    height: 180px;

    background-color: #2A3647;

    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.summaryTopSingle:hover>.boxNumber {
    color: #FFFFFF;
}

.summaryTopSingle:hover>.boxText {
    color: #FFFFFF;
}


.summaryCenter {
    display: flex;
    align-items: center;
    margin: 35px 0px;
    padding: 28px 48px;
    gap: 61px;
    width: 580px;
    height: 150px;

    background: #FFFFFF;

    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
    border-radius: 30px;
}

.summaryPrioContainer {
    display: flex;
    align-items: center;
}

.prioContainer {
    display: flex;
    flex-direction: column;
}

.prioImg {
    width: 60px !important;
    height: 60px !important;
    margin-right: 18px;
}

.prioNumber {
    font-weight: 600;
    font-size: 47px;
    line-height: 120%;

    text-align: center;

    color: #000000;
}

.prioText {
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;

    color: #2A3647;
}

.prioVerticalLine {
    width: 0px;
    height: 102.02px;

    border: 2px solid #D1D1D1;

    /* margin-left: 62px;
    margin-right: 61px; */
}

.upcomingDate {
    font-weight: 700;
    font-size: 21px;
    line-height: 120%;

    color: #2A3647;
}

.upcomingDateText {
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;

    color: #2A3647;
}

.summaryCenter:hover {
    width: 590px;
    height: 160px;

    background: #2A3647;

    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.summaryCenter:hover>.summaryPrioContainer>.prioContainer>.prioNumber {
    color: #FFFFFF;
}

.summaryCenter:hover>.summaryPrioContainer>.prioContainer>.prioText {
    color: #FFFFFF;
}

.summaryCenter:hover>.upcomingDateContainer>.upcomingDate {
    color: #FFFFFF;
}

.summaryCenter:hover>.upcomingDateContainer>.upcomingDateText {
    color: #FFFFFF;
}

.summaryBottom {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 35px;

    width: 580px;
    height: 150px;
}

.summaryBottomSingle {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 38px 19px;
    gap: 18px;

    width: 272.5px;
    height: 150px;

    background: #FFFFFF;

    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
    border-radius: 30px;
}

.todoPencilImg img {
    width: 69px;
    height: 69px;
}

.todoDoneImg img {
    width: 69px;
    height: 69px;
}

.todoNumber {
    font-weight: 600;
    font-size: 64px;
    line-height: 120%;

    text-align: center;

    color: #000000;
}

.todoText {
    font-weight: 400;
    font-size: 21px;
    line-height: 120%;

    color: #2A3647;
}

.summaryBottomSingle:hover {
    width: 282.5px;
    height: 160px;

    background: #2A3647;

    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.summaryBottomSingle:hover>.todoContainer>.todoNumber {
    color: #FFFFFF;
}

.summaryBottomSingle:hover>.todoContainer>.todoText {
    color: #FFFFFF;
}

.summaryBottomSingle:hover>.todoPencilImg {
    content: url("img/todoPencilWhite.png");
}

.summaryBottomSingle:hover>.todoDoneImg {
    content: url("img/todoDoneWhite.png");
}

.summaryWelcomeText {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 3px;

    position: absolute;
    width: auto;
    height: 136px;
    left: 1002px;
    top: 533px;
}

.summaryGreeting {
    height: 56px;

    font-weight: 500;
    font-size: 47px;
    line-height: 120%;

    color: #2A3647;
}

.summaryContactName {
    height: 77px;
    font-weight: 700;
    font-size: 64px;
    line-height: 120%;

    color: #29ABE2;

}