<nav class="navigation-left" id="navigation-left">
    <div class="navigation-left-linksContainer">

        <img class="logo-nav" src="../img/logo-nav.png" id="logoNav">
        <div class="navigation-left-links" id="navigation-left-links">
           
        </div>
    </div>
    <a onclick="addLegalNotice();setStyleOfLegalNotice(`background:#091931;`)" class="navigation-left-link" id="addLegal"> <img class="legal-notice" src="../img/legal-notice.png"> Legal notice</a>
</nav>
<nav class="navigation-top" id="navigation-top">
    <img class="logoInvertColor" src="../img/logoInvertColor.png" id="logoInvertColor">

    <span class="kpmt" id="kpmt">Kanban Project Management Tool</span>
    <div class="d-flex align-c gap-10px profileNavContainer">
        <a onclick="addHelp()"><img src="../img/questionmark.png" id="helpContainer"></a>
        <a onclick="setLogoutButton(event)" id="userOptions"><img src="../img/profileBase.png"></a>
    </div>
</nav>
