<nav class="navigation-left" id="navigation-left">
    <div class="navigation-left-linksContainer">

        <img class="logo-nav" src="img/logo-nav.png">
        <div class="navigation-left-links" id="navigation-left-links">
           
        </div>
    </div>
    <a onclick="addLegalNotice()" class="navigation-left-link"> <img class="legal-notice" src="img/legal-notice.png"> Legal notice</a>
</nav>
<nav class="navigation-top" id="navigation-top">
    Kanban Project Management Tool
    <div class="d-flex align-c gap-10px">
        <a onclick="addHelp()"><img src="img/questionmark.png"></a>
        <a onclick="setLogoutButton()"><img src="img/profileBase.png"></a>
    </div>
</nav>
