<nav class="navigation-left" id="navigation-left">
    <div class="navigation-left-linksContainer">

        <a><img class="logo-nav" src="img/logo-nav.png"></a>
        <div class="navigation-left-links">
            <a onclick="showLink('summary.html')" target="_self" class="navigation-left-link"> <img
                    src="img/summary.png" alt=""> Summary</a>
            <a onclick="showLink('board.html')" target="_self" class="navigation-left-link"> <img src="img/board.png"
                    alt=""> Board</a>
            <a onclick="showLink('addTask.html')" target="_self" class="navigation-left-link"> <img
                    src="img/addTask.png" alt=""> Add
                Task</a>
            <a onclick="showLink('contacts.html')" target="_self" class="navigation-left-link"> <img
                    src="img/contacts.png" alt=""> Contacts</a>
        </div>
    </div>
    <a href="" class="navigation-left-link"> <img class="legal-notice" src="img/legal-notice.png"> Legal notice</a>
</nav>
<nav class="navigation-top" id="navigation-top">
    <a>Kanban Project Management Tool</a>
    <div class="d-flex align-c gap-10px">
        <a><img src="img/questionmark.png"></a>
        <a><img src="img/profileBase.png"></a>
    </div>
</nav>